<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn slow mt-5">
    <div class="col-2">
        <a [href]="external_url"><img [src]="imgurl | noimage" class="img-thumbnail img-circle"></a>
    </div>
    <div class="col">
        <h3 style="color: #fafafa"> {{nombreArtista}} </h3>
        <p>
            <a [href]="external_url" target="_blank" class="green-link">Página del artista</a>
        </p>
    </div>
    <div class="col-3 text-right">
        <button class="btn btn-outline-danger" style="border-radius: 20px;" routerLink="/home">Regresar</button>
    </div>
</div>

<div>
    <h1 class="mb-5 mt-5">Albumes</h1>
    <div *ngFor="let album of albumes; let i=index;">
        <h1>{{alb[i].name}}</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="vistaPrevia">Vista previa</th>
                        <th>Nombre de la pista</th>
                        <th>Duración</th>
                        <th>♥</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of albumes[i]; let j=index;">
                        <td><iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" height="30" width="30" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe></td>
                        <td class="green-link puntero"> {{track.name}} </td>
                        <td> {{track.duration_ms | toMinutes }} </td>
                        <td *ngIf="isFav(track.id, track.name)" class="green-link puntero" (click)="addFav(track.id, track.name)">♥</td>
                        <td *ngIf="!isFav(track.id, track.name)" class="green-link puntero" (click)="addFav(track.id, track.name)">☺</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br><br>

    </div>
</div>